.header{
	width: 100%;
	text-align: center;
	padding: 20px 0;
	margin: auto;
}

.header h1{
	font-family: Helvetica, Verdana, sans-serif;
}




.footer{
	text-align: center;
	left: 0;
	bottom: 0;
	width:100%;
	padding: 20px 0 20px; 0;
	background-color: black;
	color: white;
	margin: 0;
}

.footer p{
	text-align: center;
}

.footer a{
	color: white;
	text-decoration: underline;
}