body{
	margin: 0;
	font-family: 'Merriweather', serif;
}

.header{
	width: 100%;
	text-align: center;
	padding: 20px 0;
	margin: auto;
}

.ad {
	margin: 20px;
}

#logo{
	margin: 20px;
}

.container{
	text-align: center;
	width: 90%;
	margin: auto;
	margin-bottom: 60px;
}

form{
	text-align: center;
}

form .textarea, textarea{
	padding: 2px;
	margin: 5px;
	font-family: 'Merriweather', serif;
}

input[type=button], input[type=submit], input[type=reset] {
	  background-color: #4CAF50;
	  border: none;
	  color: white;
	  padding: 16px 32px;
	  text-decoration: none;
	  margin: 4px 2px;
	  border-radius: 5px;
	  width: 50%;
	  font-size: 20px;
	  cursor: pointer;
}

@media (min-width: 768px) {
	.grid{
		display: grid;
		grid-template-columns: 33% 1fr 33%;
		grid-gap:  20px;
	}
}


.card, form{
	background-color: rgba(240,240,240,0.8);
	margin-bottom: 10px;
	box-shadow:5px 5px 5px rgba(0,0,0,0.2); 
	border: 1px solid rgba(220,220,220,1);
	padding: 5px;
	border-radius: 8px;
}

.del{
	position: relative;
	top:0;
	right: 0;
	float: auto;
}


.footer{
	text-align: center;
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 20px;
	background-color: black;
	color: white;
	margin: 0;
}

.footer p{
	text-align: center;
}

.footer a{
	color: white;
	text-decoration: underline;
}