body{
	margin: 0;
	font-family: 'Merriweather', serif;
}

.header{
	width: 100%;
	text-align: center;
	padding: 20px 0;
	margin: auto;
}

.ad {
	margin: 20px;
}

#logo{
	margin: 20px;
}

.container{
	text-align: center;
	width: 90%;
	margin: auto;
	margin-bottom: 60px;
}

form{
	text-align: center;
}

form .textarea{
	padding: 2px;
	margin: 5px;
}


@media (min-width: 768px) {
	.grid{
		display: grid;
		grid-template-columns: 33% 1fr 33%;
		grid-gap:  20px;
	}
}


.card, form{
	background-color: rgb(240,240,240);
	margin-bottom: 10px;
	box-shadow:5px 5px 5px rgba(0,0,0,0.2); 
	border: 1px solid grey;
	padding: 5px;
}

.del{
	position: relative;
	top:0;
	right: 0;
}


.footer{
	text-align: center;
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 20px;
	background-color: black;
	color: white;
	margin: 0;
}

.footer p{
	text-align: center;
}

.footer a{
	color: white;
	text-decoration: underline;
}